process {
    withName:'MULTIQC' {
        cpus = 1
        memory = 1.GB
    }

    withName:'TABIX_BGZIP|ODGI_STATS' {
        cpus = 4
        memory = 1.GB
    }

    withName:'WFMASH|SEQWISH|ODGI_BUILD|ODGI_UNCHOP|ODGI_SORT' {
        cpus = 15
        memory = 4.GB
    }

    withName:'SMOOTHXG' {
        cpus = 15
        memory = 8.GB
    }

    withName:'GFAFFIX|ODGI_VIEW|ODGI_VIZ_COLOR|ODGI_VIZ_POS|ODGI_VIZ_DEPTH|ODGI_VIZ_INV|ODGI_VIZ_COMPR|ODGI_VIZ_UNCALLED' {
        cpus = 1
        memory = 4.GB
    }
}
