process {
    withName:'MULTIQC' {
        cpus = 1
        memory = 1.GB
    }

    withName:'TABIX_BGZIP' {
        cpus = 4
        memory = 1.GB
    }

    withName:'WFMASH|SEQWISH' {
        cpus = 15
        memory = 4.GB
    }

    withName:'SMOOTHXG' {
        cpus = 15
        memory = 8.GB
    }

    withName:'GFAFFIX' {
        cpus = 1
        memory = 4.GB
    }
}
