name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/.singularity
  NXF_SINGULARITY_LIBRARYDIR: ${{ github.workspace }}/.singularity

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: "Run pipeline with test data (${{ matrix.NXF_VER }} | ${{ matrix.test_name }} | ${{ matrix.profile }})"
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-everything"
        profile:
          - "conda"
          - "docker"
          - "singularity"
        test_name:
          - "test"
        isMaster:
          - ${{ github.base_ref == 'master' }}
        # Exclude conda and singularity on dev
        exclude:
          - isMaster: false
            profile: "conda"
          - isMaster: false
            profile: "singularity"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Set up Apptainer
        if: matrix.profile == 'singularity'
        uses: eWaterCycle/setup-apptainer@main

      - name: Set up Singularity
        if: matrix.profile == 'singularity'
        run: |
          mkdir -p $NXF_SINGULARITY_CACHEDIR
          mkdir -p $NXF_SINGULARITY_LIBRARYDIR

      - name: Set up Miniconda
        if: matrix.profile == 'conda'
        uses: conda-incubator/setup-miniconda@a4260408e20b96e80095f42ff7f1a15b27dd94ca # v3
        with:
          miniconda-version: "latest"
          auto-update-conda: true
          conda-solver: libmamba
          channels: conda-forge,bioconda

      - name: Set up Conda
        if: matrix.profile == 'conda'
        run: |
          echo $(realpath $CONDA)/condabin >> $GITHUB_PATH
          echo $(realpath python) >> $GITHUB_PATH

      - name: Clean up Disk space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Run pipeline with test data
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results

  vg_deconstruct:
    name: Run pipeline with vg deconstruct parameters
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - '--vcf_spec "gi|568815561:5,gi|568815567:25"'
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and vg deconstruct parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

  smoothxg:
    name: Run pipeline with smoothxg parameters
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--smoothxg_write_maf --smoothxg_poa_length 100,200,300 --smoothxg_run_abpoa --smoothxg_run_global_poa"
          - "--smoothxg_poa_params asm10"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and smoothxg parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

  wfmash_chunks:
    name: Run pipeline with wfmash_chunks parameters
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--wfmash_chunks 2"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and wfmash_chunks parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

  wfmash_only:
    name: Run pipeline with wfmash_only parameters
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--wfmash_only"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and wfmash_only parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

  wfmash_sparse_map:
    name: Run pipeline with wfmash_sparse_map parameters
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--wfmash_sparse_map auto"
          - "--wfmash_sparse_map 0.5"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and wfmash_only parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

  communities:
    name: Run pipeline with community parameters
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--communities"
          - "--communities --wfmash_chunks 2"
          - '--communities --vcf_spec "gi|568815561:5,gi|568815567:25"'
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and wfmash_only parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

  metric_parameter_suffixes:
    name: Run pipeline with metric parameter suffixes
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/pangenome') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--wfmash_sequence_length 8k --wfmash_block_length 38K --seqwish_transclose_batch 9M"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "24.04.2"

      - name: Run pipeline with test data and wfmash_only parameters
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}
